# Series

## 构造Series

### 用列表或者数组构造Series

In [1]:
import numpy as np
import pandas as pd

from pandas import Series

In [3]:
# 用数组构造
arr = np.array([1,2,3])
pd.Series(arr)

0    1
1    2
2    3
dtype: int32

In [4]:
# 用列表构造
list=[1,2,3]
pd.Series(list)

0    1
1    2
2    3
dtype: int64

区别：数组构造Series是印用，列表是创建副本

## 用字典构造Series

In [5]:
# 手动输入index
name_list = ['aa','bb','cc']
pd.Series(name_list,index=['k1','k2','k3'])

k1    aa
k2    bb
k3    cc
dtype: object

In [8]:
# 直接用字典构造
dic = {
    '语文':'150',
    '数学':'150',
    '英语':'150',
    '理综':'300'
}
pd.Series(dic)

语文    150
数学    150
英语    150
理综    300
dtype: object

## 访问Series

In [5]:
import numpy as np
import pandas as pd
from pandas import Series
arr = np.random.randint(0,101,5)
arr

array([98, 62, 77, 88, 83])

In [6]:
s =Series(data=arr , index=['lucy', 'tony', 'andy', 'tom', 'mario'])
s

lucy     98
tony     62
andy     77
tom      88
mario    83
dtype: int32

### 1.loc访问显示索引

In [7]:
s.loc['lucy']

98

In [8]:
list = ['lucy','andy']
s.loc[list]

lucy    98
andy    77
dtype: int32

In [9]:
s.loc[['lucy','andy']]

lucy    98
andy    77
dtype: int32

### 2.iloc访问隐式索引

In [10]:
s.iloc[0]

98

In [11]:
s.iloc[[0,1]]

lucy    98
tony    62
dtype: int32

In [12]:
list = [0,1]
s.iloc[list]

lucy    98
tony    62
dtype: int32

### 3.利用bool访问

In [13]:
s[s>70]

lucy     98
andy     77
tom      88
mario    83
dtype: int32

## Series的属性和方法

### 属性 shape size index values name

In [45]:
s =Series(data=arr , index=['lucy', 'tony', 'andy', 'tom', 'mario'])
s

lucy     98
tony     62
andy     77
tom      88
mario    83
dtype: int32

In [46]:
s.shape

(5,)

In [47]:
s.size

5

In [48]:
s.values

array([98, 62, 77, 88, 83])

In [49]:
s.index

Index(['lucy', 'tony', 'andy', 'tom', 'mario'], dtype='object')

In [50]:
s.name='score'
s

lucy     98
tony     62
andy     77
tom      88
mario    83
Name: score, dtype: int32

### 应用

In [51]:
(s.index == 'amy').any()

False

In [52]:
s2 = Series(data=np.random.randint(1,100,5), index=s.index)
s2

lucy     96
tony     89
andy      9
tom      64
mario    39
dtype: int32

### 方法head（）和tail（）

相当于切片

In [53]:
s=Series(data=np.random.randint(1,100,3),index=['andy','tony','mario'])
s

andy     24
tony     13
mario    23
dtype: int32

In [54]:
s.head(2)

andy    24
tony    13
dtype: int32

In [55]:
s.tail(2)

tony     13
mario    23
dtype: int32

### 方法 isnull（）和 notnull（）检测缺失数据

配合any（）和all（）使用

In [56]:
dic={
    "amy":1,
    "tony":2,
    "mario":3
}
s=Series(data=dic,index=["amy","tony","mario","lucy"])
s

amy      1.0
tony     2.0
mario    3.0
lucy     NaN
dtype: float64

In [57]:
s.isnull()

amy      False
tony     False
mario    False
lucy      True
dtype: bool

In [58]:
s.isnull().any() # 至少有一个NaN

True

## 排序

###